body, .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato;
  transition: 0.3s ease-in-out;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 300;
  font-size: 2.5em; /* Default size for larger screens */
  margin-top: 0;
  padding: 0 10px; /* Adds padding to ensure text doesn't touch the edges */
}

/* Responsive settings for screens narrower than 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 1.2em; /* Further reduced size for mobile devices */
  }
}

/* Responsive settings for even smaller screens */
@media (max-width: 400px) {
  h1 {
    font-size: 1em; /* Further reduction for smaller devices */
  }
}



h2 {
  font-weight: 300;
  font-size: 2em; /* Default size for larger screens */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  transition: 0.3s ease-in-out;
}

/* Responsive settings for screens narrower than 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 2em; /* Smaller size for mobile devices */
  }
  h2 {
    font-size: 1.5em; /* Smaller size for mobile devices */
  }
}

.instagram {
  color: #962fbf;
}

.unsplash {
  color: #0cda3c;
}

.linkedin {
  color: #0077B5;
}

.soundcloud {
  color: #FF7700;
}
